@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap:wght@100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fredoka", sans-serif;
  display: flex;
  background-color: #292929;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

main {
  z-index: 100;
  display: flex;
  padding: 10px;
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.number-original {
  position: relative;
  padding: 20px;
  background-color: #444444;
  width: calc(100% + 3rem);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 100px;
  bottom: calc(10vh - 20px);
}

.number-original span {
  font-size: 2.8rem;
  color: #cccccc;
  text-wrap: nowrap;
  cursor: default;
  transition: 300ms ease-in-out;
}

.number-final {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: calc(100% + 1rem);
  background-color: #333333;
  padding: 40px;
  border-radius: 40px;
}

.input-display {
  width: 55%;
  height: 40px;
  padding: 10px;
  border-radius: 18px;
  font-family: "Fredoka", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  cursor: default;
  outline: #333 1px solid;
  border: none;
  background-color: #ccc;
  transition: 300ms ease-in-out;
}

.input-display.correct {
  color: #15951e;
  transition: 300ms ease-in-out;
}

.input-display.incorrect {
  color: #d80e0e;
  transition: 300ms ease-in-out;
}

.input-display:hover {
  background-color: #eee;
  box-shadow: 5px 5px 10px #444 inset, -6px -6px 10px #fff inset;
  transition: 200ms ease-in-out;
  outline: #333 10px solid;
}

.display-gap {
  position: relative;
  color: #fff;
  font-size: 3rem;
  cursor: default;
  transform: translateY(-60%);
  margin-left: 0.5%;
}

button[type="submit"] {
  width: 40%;
  border-radius: 20px;
  border: none;
  outline: none;
  font-family: "Asap", sans-serif;
  font-weight: 700;
  background-color: #22aa22;
  height: 40px;
  font-weight: 800;
  font-size: 1.3rem;
  color: #222222;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

button[type="submit"]:hover {
  box-shadow: 5px 5px 5px, -2px -2px 2px #58bb58;
  transition: 200ms ease-in-out;
}

.number-grid-content {
  background-color: #373737;
  padding: 10px;
  border-radius: 50px;
}

button[type="button"] {
  border: none;
  outline: none;
  border-radius: 20%;
  background-color: #ddd;
  color: #111;
  font-size: 1.6rem;
  font-family: "Fredoka", sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

button[type="button"]:hover {
  box-shadow: -2px -2px 2px #222 inset, 2px 2px 2px #fff inset;
  transition: 200ms ease-in-out;
}

.backspace-button-svg {
  position: relative;
  transform: translate(0%, 10%);
  transform-origin: center;
}

.finish-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  width: 100%;
  height: 60px;
  border-radius: 50px;
  margin-top: 30px;
}
.finish-link-btn {
  background-color: #ccc;
  height: 60%;
  width: 30%;
  border: none;
  outline: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 200ms ease-in-out;
}

.finish-link-btn:hover {
  box-shadow: -2px -2px 2px #222 inset, 2px 2px 2px #fff inset;
  transition: 200ms ease-in-out;
}

.finish-link-btn span {
  font-size: 1.5rem;
  font-family: "Asap", sans-serif;
  font-weight: 700;
  cursor: pointer;
}
