#original-num.correct {
  color: #15951e;
  transition: 300ms ease-in-out;
}

#original-num.incorrect {
  color: #d80e0e;
  transition: 300ms ease-in-out;
}

.display-bin-final {
  width: 100%;
  height: 40px;
  gap: 4%;
  display: flex;
}

.number-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 40px);
  grid-template-rows: 40px;
  gap: 4px;
}
